Depends:
 dkms,
 zfs-dkms (>= 2.0.7),
 libzfslinux-dev,
Restrictions:
 allow-stderr,
 breaks-testbed,
 isolation-machine,
 needs-root,
Features:
 test-name=dkms-autopkgtest
Test-Command:
 /usr/lib/dkms/dkms-autopkgtest
