Tests:
 dkms-autopkgtest-client,
Depends:
 dkms,
 linux-headers-generic,
Restrictions:
 allow-stderr,
 isolation-machine,
 needs-root,

Tests:
 dkms-autopkgtest-server,
Depends:
 dkms,
 linux-headers-generic,
 zfs-dkms,
Restrictions:
 allow-stderr,
 isolation-machine,
 needs-root,
