Source: lustre
Section: admin
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-dkms,
 autoconf,
 automake,
 libkeyutils-dev,
 libmount-dev,
 libnl-genl-3-dev,
 libselinux-dev,
 libssl-dev,
 libtool,
 libyaml-dev,
 libzfslinux-dev,
 pkgconf,
 rsync,
 zlib1g-dev,
Standards-Version: 4.7.3
Homepage: https://www.lustre.org/
Vcs-Git: https://github.com/lustre/lustre-release.git
Vcs-Browser: https://github.com/lustre/lustre-release

Package: lustre-client-utils
Section: utils
Architecture: amd64 arm64
Depends:
 lustre-client-modules,
 python3,
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends},
Suggests:
 bash-completion,
Description: Userspace utilities for the Lustre filesystem (client)
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package provides a number of userspace utilities for accessing a
 remote Lustre filesystems from a client.

Package: lustre-server-utils
Section: utils
Architecture: amd64 arm64
Depends:
 lustre-client-utils (= ${binary:Version}),
 lustre-server-modules,
 python3,
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends},
Suggests:
 bash-completion,
Description: Userspace utilities for the Lustre filesystem (server)
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package provides the userspace utilities needed to serve local storage
 to other Lustre server nodes, such as formatting and mounting Lustre targets.

Package: lustre-resource-agents
Architecture: amd64 arm64
Depends:
 lustre-server-utils (= ${binary:Version}),
 resource-agents,
 ${misc:Depends},
Description: HA Reusable Cluster Resource Scripts for Lustre
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package provides a set of scripts to operate Lustre
 resources in a High Availability environment for both Pacemaker
 and rgmanager on a server.

Package: liblustreapi1
Section: libs
Architecture: amd64 arm64
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Lustre filesystem client API library
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package contains the runtime library (liblustreapi) used by
 applications to interact with Lustre filesystems.

Package: liblnetconfig4
Section: libs
Architecture: amd64 arm64
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: LNet configuration library
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package contains the runtime library (liblnetconfig) used to
 configure the Lustre networking layer (LNet).

Package: lustre-dev
Section: libdevel
Architecture: amd64 arm64
Depends:
 liblnetconfig4 (= ${binary:Version}),
 liblustreapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Development files for the Lustre filesystem
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package provides development libraries for the Lustre filesystem.

Package: lustre-client-modules-dkms
Section: kernel
Architecture: amd64 arm64
Depends:
 autoconf,
 automake,
 bison,
 build-essential,
 dkms,
 flex,
 libaio-dev,
 libkeyutils-dev,
 libkrb5-dev,
 libmount-dev,
 libnl-genl-3-dev,
 libselinux-dev,
 libssl-dev,
 libtool,
 libyaml-dev,
 linux-base,
 linux-headers-generic | linux-headers-amd64 | linux-headers-arm64,
 lustre-source (= ${source:Version}),
 pkgconf,
 python3-dev,
 zlib1g-dev,
 ${misc:Depends},
 ${perl:Depends},
Provides:
 lustre-client-modules,
Description: Lustre Linux kernel module (DKMS)
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package contains the loadable kernel modules for Lustre clients.

Package: lustre-server-modules-dkms
Section: kernel
Architecture: amd64 arm64
Depends:
 autoconf,
 automake,
 bison,
 build-essential,
 dkms,
 flex,
 libaio-dev,
 libkeyutils-dev,
 libkrb5-dev,
 libmount-dev,
 libnl-genl-3-dev,
 libselinux-dev,
 libssl-dev,
 libtool,
 libyaml-dev,
 libzfslinux-dev,
 linux-base,
 linux-headers-generic | linux-headers-amd64 | linux-headers-arm64,
 lustre-source (= ${source:Version}),
 pkgconf,
 python3-dev,
 zfs-dkms (>= 2.0.7),
 zlib1g-dev,
 ${misc:Depends},
 ${perl:Depends},
Provides:
 lustre-client-modules,
 lustre-server-modules,
Breaks:
 lustre-client-modules-dkms,
Replaces:
 lustre-client-modules-dkms,
Description: Lustre Linux server kernel module with ZFS support (DKMS)
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package contains the loadable kernel modules for Lustre servers
 with ZFS backend support.

Package: lustre-source
Section: kernel
Architecture: all
Depends:
 ${misc:Depends},
Description: Source for the Lustre filesystem
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package provides the source tree for the Lustre filesystem.
