Source: lustre
Section: admin
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-dkms,
 autoconf,
 automake,
 libkeyutils-dev,
 libmount-dev,
 libnl-genl-3-dev,
 libselinux-dev,
 libssl-dev,
 libtool,
 libyaml-dev,
 libzfslinux-dev,
 pkgconf,
 rsync,
 zlib1g-dev,
Standards-Version: 4.7.3
Homepage: https://www.lustre.org/
Vcs-Git: https://github.com/lustre/lustre-release.git
Vcs-Browser: https://github.com/lustre/lustre-release

Package: lustre-client-utils
Section: utils
Architecture: amd64 arm64
Depends:
 python3,
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends},
Suggests:
 bash-completion,
Description: Userspace utilities for the Lustre filesystem (client)
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package provides a number of userspace utilities for accessing a
 remote Lustre filesystems from a client.

Package: lustre-server-utils
Section: utils
Architecture: amd64 arm64
Depends:
 lustre-client-utils (= ${binary:Version}),
 python3,
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends},
Suggests:
 bash-completion,
Description: Userspace utilities for the Lustre filesystem (server)
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package provides the userspace utilities needed to serve local storage
 to other Lustre server nodes, such as formatting and mounting Lustre targets.

Package: lustre-resource-agents
Architecture: all
Depends:
 lustre-server-utils (>= ${source:Version}),
 resource-agents-base,
 ${misc:Depends},
Description: HA Reusable Cluster Resource Scripts for Lustre
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package provides a set of scripts to operate Lustre
 resources in a High Availability environment for both Pacemaker
 and rgmanager on a server.

Package: liblustreapi1
Section: libs
Architecture: amd64 arm64
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Lustre filesystem client API library
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package contains the runtime library (liblustreapi) used by
 applications to interact with Lustre filesystems.

Package: liblnetconfig4
Section: libs
Architecture: amd64 arm64
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: LNet configuration library
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package contains the runtime library (liblnetconfig) used to
 configure the Lustre networking layer (LNet).

Package: liblustreapi-dev
Section: libdevel
Architecture: amd64 arm64
Multi-Arch: same
Depends:
 liblustreapi1 (= ${binary:Version}),
 ${misc:Depends},
Description: Development files for the Lustre client API library
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package contains the development files (headers, static library and
 pkg-config file) for liblustreapi, used by applications to interact with
 Lustre filesystems.

Package: liblnetconfig-dev
Section: libdevel
Architecture: amd64 arm64
Multi-Arch: same
Depends:
 liblnetconfig4 (= ${binary:Version}),
 ${misc:Depends},
Description: Development files for the LNet configuration library
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available from
 https://wiki.whamcloud.com/
 .
 This package contains the development files (static library and
 pkg-config file) for liblnetconfig, used by tools to configure and
 manage LNet.

Package: lustre-dkms
Section: kernel
Architecture: amd64 arm64
Depends:
 autoconf,
 automake,
 bison,
 build-essential,
 dkms,
 flex,
 libmount-dev,
 libnl-genl-3-dev,
 libtool,
 libyaml-dev,
 pkgconf,
 zfs-dkms (>= 2.0.7),
 libzfslinux-dev,
 zlib1g-dev,
 ${misc:Depends},
 ${perl:Depends},
Recommends:
 lustre-client-utils (>= ${source:Version}),
 lustre-server-utils (>= ${source:Version}),
Provides:
 lustre-modules,
Description: Lustre Linux kernel modules with ZFS support (DKMS)
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Whamcloud and available at
 https://wiki.whamcloud.com/
 .
 This package contains the loadable kernel modules for Lustre clients
 and servers with ZFS backend support.
