#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/pkg-info.mk

UPVER := $(DEB_VERSION_UPSTREAM)

# Trim the DKMS source tree to what the module build actually needs.
#
# The tests/iokit contents are pruned; the build system was patched to make
# those directories conditional (see the TESTS/BUILD_LUSTREIOKIT gating in
# autoMakefile.am and the AC_CONFIG_FILES in config/*.m4), so only the
# Makefile.am skeletons must survive for autoreconf; rsync uses the first
# matching pattern.
DKMS_RSYNC_EXCLUDES = \
	--include='lustre/tests/Makefile.am' \
	--include='lustre/tests/mpi/' \
	--include='lustre/tests/mpi/Makefile.am' \
	--exclude='lustre/tests/mpi/*' \
	--include='lustre/tests/iabf/' \
	--include='lustre/tests/iabf/Makefile.am' \
	--exclude='lustre/tests/iabf/*' \
	--exclude='lustre/tests/*' \
	--exclude='lustre/kunit/' \
	--include='Documentation/Makefile.am' \
	--include='Documentation/man*/' \
	--include='Documentation/man*/Makefile.am' \
	--exclude='Documentation/*' \
	--exclude='contrib/' \
	--include='lustre-iokit/*/' \
	--include='lustre-iokit/*/Makefile.am' \
	--include='lustre-iokit/Makefile.am' \
	--exclude='lustre-iokit/*' \
	--exclude='lustre/kernel_patches/kernel_configs/' \
	--exclude='rpm/' \
	--exclude='.git/' \
	--exclude='.gitignore' \
	--exclude='.gitreview' \
	--exclude='.mailmap' \
	--exclude='.editorconfig' \
	--exclude='.pc/' \
	--exclude='debian/' \
	--exclude='rustreapi/' \
	--exclude='Vagrantfile' \
	--exclude='requirements.txt' \
	--exclude='MAINTAINERS' \
	--exclude='ChangeLog' \
	--exclude='*.md' \
	--exclude='*.rst' \
	--exclude='*.txt' \
	--exclude='README'

%:
	dh $@ --with dkms

override_dh_auto_configure:
	rm -rf ../pristine-src
	rsync -a --exclude='.git/' --exclude='debian/' ./ ../pristine-src/

	./autogen.sh
	dh_auto_configure -- \
		--enable-utils \
		--enable-server \
		--with-zfs=yes \
		--disable-ldiskfs \
		--disable-modules \
		--disable-tests \
		--disable-iokit \
		--disable-doc \
		--with-systemdsystemunitdir=/usr/lib/systemd/system

override_dh_auto_build:
	dh_auto_build -- utils

override_dh_install:
	dh_install

	install -d debian/lustre-server-modules-dkms/usr/src/lustre-server-modules-$(UPVER)
	rsync -a --delete $(DKMS_RSYNC_EXCLUDES) \
		../pristine-src/ debian/lustre-server-modules-dkms/usr/src/lustre-server-modules-$(UPVER)/

	install -d debian/lustre-client-modules-dkms/usr/src/lustre-client-modules-$(UPVER)
	rsync -a --delete $(DKMS_RSYNC_EXCLUDES) \
		../pristine-src/ debian/lustre-client-modules-dkms/usr/src/lustre-client-modules-$(UPVER)/

override_dh_auto_install:
	dh_auto_install -- pkgconfigdir=/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig

	# Generate dkms.conf files
	sed -e 's/@PACKAGE_NAME@/lustre-server-modules/g' \
	    -e 's/@UPVERSION@/$(UPVER)/g' \
	    debian/dkms.conf.in > debian/lustre-server-modules-dkms.dkms
	sed -e 's/@PACKAGE_NAME@/lustre-client-modules/g' \
	    -e 's/@UPVERSION@/$(UPVER)/g' \
	    debian/dkms.conf.in > debian/lustre-client-modules-dkms.dkms

override_dh_dkms:
	dh_dkms -plustre-client-modules-dkms -V
	dh_dkms -plustre-server-modules-dkms -V

override_dh_auto_clean:
	dh_auto_clean
	rm -rf ../pristine-src

override_dh_auto_test:
	# Disable tests for now
